.content ul{
  list-style-type: none;
  margin: 0;
  li{
    a{
      text-decoration: none;
    }
  }
}

.b-tabs{
  ul{
    li{
      margin: 0;
    }
  }
}
.dialog{
  .media{
    align-items: center;
  }
}
