$snow: #fafafa;
$antiFlashWhite: #f2f2f2;

$primary: #189AD0;
$secundary: #373435;
$highlight: #CFC63F;

$success: #00DB56;
$error: #FF0053;
$warning:#ffdd57;


$bg_1: #fff;
$bg_2: #f6f6f6;
$bg_3: #f4f4f4;
$bg_5: #ededed;

$color_1: #424242;
$color_2: #f8f8f8;
$color_3: #bdbdbd;
$color_4: #eeeeee;

$default-box-shadow: rgba(0, 0, 0, 0.19);

$mediumBP: 1200px;
$smallBP: 600px;
$xsmallBP: 450px;
